<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.iamfaulty.dj-music-sync</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>mkdir -p /Volumes/homelab &amp;&amp; mount -t nfs -o resvport 192.168.68.69:/volume3/homelab /Volumes/homelab &amp;&amp; /Users/peteedoo/projects/dj/sync/dj-music-sync.sh</string>
  </array>
  <key>UserName</key>
  <string>root</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>3</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/tmp/dj-music-sync.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/dj-music-sync.log</string>
</dict>
</plist>
